NODE_ENV=development
PORT=5000
MONGODB_URI=your_mongo_uri
CORS_ORIGIN=http://localhost:3000

REVOLUT_SECRET_API_KEY=your_secret_key
REVOLUT_API_BASE_URL=https://merchant.revolut.com/api
REVOLUT_API_VERSION=revolut_api_version
REVOLUT_WEBHOOK_SIGNING_SECRET=your_secret_key